# Connect to Vercel Postgres
# Replace this with your actual Vercel Postgres connection string
POSTGRES_URL="postgres://default:default@localhost:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:default@localhost:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:default@localhost:5432/verceldb"

DATABASE_URL="postgres://default:default@localhost:5432/verceldb"